<h2>All photos</h2>
	<div class="row">
	<div class="col-sm-12"
		<% @photos.each do |photo| %>
		<div class="col-sm-4">
			<%= image_tag photo.image.url(:small) %><br/>
		 	<%= link_to photo.caption, welcome_path(photo) %>	
				by <%= photo.user.name %>
	</div>

<% end %>
</div>
</div>
